<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2015SIEtf</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/tim3</property>
  <property name="hibernate.connection.username">EtfSI2015</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Artikal" resource="/SkladisteTim3/src/main/resources/Artikal.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Dokument" resource="/SkladisteTim3/src/main/resources/Dokument.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Izvjestaj" resource="/SkladisteTim3/src/main/resources/Izvjestaj.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Menadzer" resource="/SkladisteTim3/src/main/resources/Menadzer.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Nabavka" resource="/SkladisteTim3/src/main/resources/Nabavka.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Otpisnica" resource="/SkladisteTim3/src/main/resources/Otpisnica.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Otpremnica" resource="/SkladisteTim3/src/main/resources/Otpremnica.hbm.xml"/>
  <mapping
   class="ba.unsa.etf.si.app.SkladisteTim3.Class.PoslovniPartner" resource="/SkladisteTim3/src/main/resources/PoslovniPartner.hbm.xml"/>
  <mapping
   class="ba.unsa.etf.si.app.SkladisteTim3.Class.RadnikUSkladistu" resource="/SkladisteTim3/src/main/resources/RadnikUSkladistu.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.RadnoVrijeme" resource="/SkladisteTim3/src/main/resources/RadnoVrijeme.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Skladiste" resource="/SkladisteTim3/src/main/resources/Skladiste.hbm.xml"/>
  <mapping
   class="ba.unsa.etf.si.app.SkladisteTim3.Class.SumarniIzvjestaj" resource="/SkladisteTim3/src/main/resources/SumarniIzvjestaj.hbm.xml"/>
  <mapping
   class="ba.unsa.etf.si.app.SkladisteTim3.Class.TrendoviProizvoda" resource="/SkladisteTim3/src/main/resources/TrendoviProizvoda.hbm.xml"/>
  <mapping class="ba.unsa.etf.si.app.SkladisteTim3.Class.Uposlenik" resource="/SkladisteTim3/src/main/resources/Uposlenik.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
